body,html {

    height: 100%;
    margin: 0;
    font-size: 17pt;
    scroll-behavior: smooth;
    /* background: linear-gradient(32deg, rgba(131,58,180,1) 0%, rgba(182,85,85,1) 52%, rgba(252,176,69,1) 100%); */
  }

.introduction-image{
  /* background-image: url("curious-cat-1.jpg"); */
  background: linear-gradient(32deg, rgba(131,58,180,1) 0%, rgba(182,85,85,1) 52%, rgba(252,176,69,1) 100%);
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20%;
  line-height: 10px;
}

.introduction-text{

font-size: 17pt;
text-align: center;
padding-top: 100px;
line-height: 100px;
}

.about{

  /* background-image: url("madara-rinnegan.jpg"); */
  background: linear-gradient(32deg, rgb(121, 20, 50) 0%, rgba(182,85,85,1) 52%, rgb(30, 235, 166) 100%);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20%;
}

.visualization-project{

  /* background-image: url("pokemon.jpg"); */
  background: linear-gradient(32deg, rgb(5, 119, 104) 0%, rgba(182,85,85,1) 52%, rgb(231, 195, 33) 100%);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20%;
}

.split{
  margin:auto; /* for aliniging items in subcontainer in center*/
}

/* .left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
} */

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player_name{
    color: aquamarine;
  }